.ProseMirror {
  td,
  th,
  li {
    :first-child {
      margin-bottom: 0 !important;
    }
  }

  ul[data-type='taskList'] {
    list-style: none;
    padding: 0;

    li {
      margin: 0 !important;
    }
  }

  [data-type='taskList'] {
    p {
      margin-bottom: 0;
    }

    li {
      > label,
      > div {
        display: inline-block;
        vertical-align: top;
      }

      > label {
        padding: $gl-spacing-scale-1 $gl-spacing-scale-3 0 0;
        margin: 0;
      }
    }
  }
}

.table-creator-grid-item {
  box-shadow: inset 0 0 0 $gl-spacing-scale-2 $white,
    inset $gl-spacing-scale-1 $gl-spacing-scale-1 0 #{$gl-spacing-scale-2 * 3 / 4} $gray-100,
    inset #{-$gl-spacing-scale-1} #{-$gl-spacing-scale-1} 0 #{$gl-spacing-scale-2 * 3 / 4} $gray-100 !important;

  &.active {
    box-shadow: inset 0 0 0 $gl-spacing-scale-2 $white,
      inset $gl-spacing-scale-1 $gl-spacing-scale-1 0 $gl-spacing-scale-2 $blue-500,
      inset #{-$gl-spacing-scale-1} #{-$gl-spacing-scale-1} 0 $gl-spacing-scale-2 $blue-500 !important;
  }
}

.table-dropdown .dropdown-menu {
  @include gl-min-w-0;
  @include gl-w-auto;

  @include gl-white-space-nowrap;
}
